body {
    font-family: 'Roboto', sans-serif;
    color: #444;
}
.stButton button {
    background-color: #0078D4;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px;
    border: none;
    transition: 0.3s;
}
.stButton button:hover {
    background-color: #005A9E;
}
